<html>
    <head>
        <title>Columbia Free Fodd</title>
        <link rel="stylesheet" href="test.css" type="text/css" />
    </head>
<body>
    <div id=main>
<h1>Columbia Free Food</h1>
<div id=map><img src="http://www.math.columbia.edu/~neumann/img/campus_map.gif" width=400></div>

<ol>
    <li>
        <span class=date>11.11.11 @ 9:00pm-11:00pm</span>
        <span class=location>Philosophy Hall</span>
        <span class=description>Falafel falafel falafelzzzz</span>
        <span class=source><a href="http://yahoo.com">YAHOO!</a></span>
    </li>
    <li>
        <span class=date>11.11.11 @ 9:00pm-11:00pm</span>
        <span class=location>Philosophy Hall</span>
        <span class=description>Falafel falafel falafelzzzz</span>
        <span class=source><a href="http://yahoo.com">YAHOO!</a></span>
    </li>
    <li>
        <span class=date>11.11.11 @ 9:00pm-11:00pm</span>
        <span class=location>Philosophy Hall</span>
        <span class=description>Falafel falafel falafelzzzz</span>
        <span class=source><a href="http://yahoo.com">YAHOO!</a></span>
    </li>
<!--{% for event in event_list %}
<li>
{{event.date}}
{{event.location}}
{{event.description}}
{{event.source}}
</li>
{% endfor %}-->
</ol>
    </div>
</body>
</html>